<p>Hey {{ name }},</p>
<p>Welcome to MentorHub @ Northeastern!</p>
<p>
   We're excited to have you get started. 
   Please fill in your interests and a brief description of what you are looking for.
   We'll do our best to match you with the right people.
</p>

<p>If you did not request this email you can safely ignore it.</p>